.clear {
    display:inline-block;
}


input#mc-embedded-subscribe {
    background: white;
    box-shadow: none;
    color: var(--brand-color);
    border-radius: 0;
    font-family: var(--hed-font);    
}

input#mce-EMAIL {
    border: 2px solid white;
    border-radius: 0;
    box-shadow: none;
    background: var(--brand-color);
    color: var(--fill-color);
    font-family: var(--hed-font);
    line-height: 1px;
    padding: 10px;
}
